<div class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
    <ul class="
        nav nav-stretch nav-line-tabs
        fw-bold
        border-transparent
        flex-nowrap
      " role="tablist">

      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Details' }"
          (click)="setActiveTab('Details')" role="tab">
          Detalles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Payment Info' }"
          (click)="setActiveTab('Payment Info')" role="tab">
          Informaciòn de pago
        </a>
      </li>
    </ul>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body">
    <div class="tab-content pt-3">

      <!-- begin::Details -->
      <div class="tab-pane" [ngClass]="{ active: activeTab === 'Details' }">

      </div>
      <!-- end::Details -->

      <!-- begin::Payment Info -->
      <div class="tab-pane" [ngClass]="{ active: activeTab === 'Payment Info' }">
        <app-payment-information [personId]="personId" />
      </div>
      <!-- end::Payment Info -->

    </div>
  </div>
  <!-- end::Body -->
</div>
