<!-- begin::Row -->
<div class="row g-5 g-xl-8">

  <!-- begin::Col -->
  <div class="col-xl-12">
    <!-- Search & Add Period Container -->
    <div *ngIf="!isAdding" class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap flex-stack mb-3">
          <h5 class="fw-bolder my-2">Períodos</h5>
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <!-- Company Selector -->
            <div class="w-150px me-3 position-relative">
              <select class="form-select form-select-sm" [(ngModel)]="selectedCompany" (change)="onCompanyChange()">
                <option value="" disabled selected>Seleccione una compañía</option>
                <option *ngFor="let company of companies" [value]="company.id">
                  {{ company.name }}
                </option>
              </select>
              <small *ngIf="showErrors && !selectedCompany" class="text-danger small mt-1 position-absolute">
                Debe seleccionar una compañía
              </small>
            </div>

            <!-- Month Selector -->
            <div class="w-150px me-3 position-relative">
              <select class="form-select form-select-sm" [(ngModel)]="selectedPeriod" (change)="onPeriodChange()">
                <option value="" disabled selected>Seleccione un periodo</option>
                <option *ngFor="let period of existingPeriods" [value]="period.id">
                  {{ period.name }}
                </option>
              </select>
              <small *ngIf="showErrors && !selectedPeriod" class="text-danger small mt-1 position-absolute">
                Debe seleccionar un mes
              </small>
            </div>

            <!-- Search Button -->
            <button class="btn btn-primary btn-sm me-3" (click)="search()">
              Buscar
            </button>
          </div>

          <!-- Buttons Section -->
          <div *ngIf="!isEditing" class="d-flex gap-2">
            <!-- Add Period Button (Nuevo) -->
            <button *appCanCreate="PERMISSION_ROUTE" class="btn btn-success btn-sm" (click)="toggleAddPeriod()">
              Nuevo
            </button>

            <!-- Edit Period Button -->
            <div *ngIf="showEditButton">
              <button *appCanEdit="PERMISSION_ROUTE" class="btn btn-warning btn-sm" (click)="editPeriod()">
                Editar
              </button>
            </div>
          </div>

          <div *ngIf="isEditing" class="d-flex gap-2">
            <button class="btn btn-primary btn-sm me-3" (click)="confirmSave()">
              Guardar
            </button>
            <button class="btn btn-danger btn-sm" (click)="cancelEditing()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Add New Period Form (Only Shown When Adding) -->
    <div *ngIf="isAdding" class="card mt-3">
      <div class="card-body">
        <div class="d-flex flex-wrap flex-stack mb-3">
          <h5 class="fw-bolder my-2">Nuevo Periodo</h5>
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex justify-content-between">
            <!-- Company Input -->
            <div class="w-150px me-3 position-relative">
              <select class="form-select form-select-sm" [(ngModel)]="selectedCompany">
                <option value="" disabled>Seleccione una empresa</option>
                <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
              </select>
              <small *ngIf="showErrors && !selectedCompany" class="text-danger small mt-1 position-absolute">
                Debe seleccionar una empresa
              </small>
            </div>

            <!-- Month Input -->
            <div class="w-150px me-3 position-relative">
              <select class="form-select form-select-sm" [(ngModel)]="selectedMonth">
                <option value="" disabled>Seleccione un mes</option>
                <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
              </select>
              <small *ngIf="showErrors && !selectedMonth" class="text-danger small mt-1 position-absolute">
                Debe seleccionar un mes
              </small>
            </div>

            <!-- Year Input -->
            <div class="w-120px me-3 position-relative">
              <select class="form-select form-select-sm" [(ngModel)]="selectedYear">
                <option value="" disabled>Seleccione un año</option>
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
              </select>
              <small *ngIf="showErrors && !selectedYear" class="text-danger small mt-1 position-absolute">
                Debe seleccionar un año
              </small>
            </div>

            <!-- Save Button -->
            <div class="d-flex align-items-center">
              <button class="btn btn-primary btn-sm me-3" (click)="confirmSave()">
                Guardar
              </button>
            </div>
          </div>

          <!-- Cancel Button (Aligned with dropdowns) -->
          <button class="btn btn-danger btn-sm" (click)="toggleAddPeriod()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8 mt-1">

  <!-- begin::Col -->
  <div class="col-xl-12">
    <div class="card card-xl-stretch mb-xl-8 p-3">

      <!-- Date & Time Pickers in One Row -->
      <div class="row g-3 align-items-center">

        <!-- Date Picker -->
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Fecha de recibido</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="receivedDate" name="receivedDate"
              placeholder="dd/MM/yyyy" [disabled]="!isEditing && !isAdding" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Time Picker -->
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Hora de recibido</mat-label>
            <input matInput type="time" [(ngModel)]="receivedTime" name="receivedTime" [attr.placeholder]="'HH:mm'"
              [disabled]="!isEditing && !isAdding" required>
          </mat-form-field>
        </div>

      </div>


      <!-- Validation Message (Spans Full Width) -->
      <small *ngIf="showErrors && !receivedDate" class="text-danger small mt-1">
        La fecha y hora de recibido es requerida
      </small>

    </div>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8 mt-1">
  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-whole-table class="card card-xl-stretch mb-xl-8" [sizePrices]="wholeSizePrices"></app-whole-table>
  </div>
  <!-- end::Col -->

  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-headless-table class="card card-xl-stretch mb-xl-8" [sizePrices]="headlessSizePrices"></app-headless-table>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->
