<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
               placeholder="Buscar Brókers">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add bróker-->
        <button type="button" class="btn btn-primary" data-action="create">
          Agregar Bróker
        </button>
        <!--end::Add bróker-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>

  <div class="card-body pt-0">
    <app-crud [datatableConfig]="datatableConfig" route="/apps/users" (deleteEvent)="delete($event)"
              (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="formModal"></app-crud>
  </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalles del Bróker</h4>
      <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">

        <!-- Información del Bróker (No colapsable) -->
        <div class="fw-bold fs-3 mb-7">
          Información del Bróker
        </div>

        <!-- Foto (Actualmente vacía) -->
        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Foto</label>
          <input type="text" class="form-control form-control-solid" name="photo" [(ngModel)]="userModel.avatar" readonly/>
        </div>

        <!-- Nombre -->
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Nombre</label>
          <input type="text" class="form-control form-control-solid" name="names" [(ngModel)]="userModel.name" #names="ngModel" required minlength="2"/>
          <div *ngIf="myForm.submitted && names.invalid" class="invalid-feedback">
            <div *ngIf="names.errors?.['required']">El nombre es obligatorio</div>
            <div *ngIf="names.errors?.['minlength']">El nombre debe tener al menos 2 caracteres</div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Apellidos</label>
          <input type="text" class="form-control form-control-solid" name="lastNames" [(ngModel)]="userModel.email" #lastNames="ngModel" required/>
          <div *ngIf="myForm.submitted && lastNames.invalid" class="invalid-feedback">
            <div *ngIf="lastNames.errors?.['required']">Los apellidos son obligatorios</div>
          </div>
        </div>

        <!-- Identificación -->
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Identificación</label>
          <input type="text" class="form-control form-control-solid" name="identification" [(ngModel)]="userModel.id" #identification="ngModel" required pattern="^[0-9]+$"/>
          <div *ngIf="myForm.submitted && identification.invalid" class="invalid-feedback">
            <div *ngIf="identification.errors?.['required']">La identificación es obligatoria</div>
            <div *ngIf="identification.errors?.['pattern']">La identificación debe contener solo números</div>
          </div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Fecha de Nacimiento</label>
          <input type="date" class="form-control form-control-solid" name="birthDate" [(ngModel)]="userModel.avatar" #birthDate="ngModel" required/>
          <div *ngIf="myForm.submitted && birthDate.invalid" class="invalid-feedback">
            <div *ngIf="birthDate.errors?.['required']">La fecha de nacimiento es obligatoria</div>
          </div>
        </div>

        <!-- Dirección -->
        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Dirección</label>
          <input type="text" class="form-control form-control-solid" name="address" [(ngModel)]="userModel.name"/>
        </div>

        <!-- Teléfonos -->
        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Teléfono</label>
          <input type="text" class="form-control form-control-solid" name="phone" [(ngModel)]="userModel.avatar"/>
        </div>

        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Celular</label>
          <input type="text" class="form-control form-control-solid" name="mobilePhone" [(ngModel)]="userModel.avatar"/>
        </div>

        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Celular Secundario</label>
          <input type="text" class="form-control form-control-solid" name="mobilePhone2" [(ngModel)]="userModel.avatar"/>
        </div>

        <!-- Contacto de Emergencia -->
        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Contacto de Emergencia</label>
          <input type="text" class="form-control form-control-solid" name="emergencyContactName" [(ngModel)]="userModel.avatar" required/>
        </div>

        <div class="fv-row mb-7">
          <label class="fw-semibold fs-6 mb-2">Teléfono de Emergencia</label>
          <input type="text" class="form-control form-control-solid" name="emergencyContactPhone" [(ngModel)]="userModel.avatar" required/>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">Descartar</button>
      <button type="submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">Enviar</span>
        <span class="indicator-progress">Por favor, espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
    </div>
  </form>
</ng-template>

