<ng-template #paymentsModal>
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalles del Cliente</h4>
    <!--<button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">
      <!--begin::Payment information form-->

      <!--end::Payment information form-->
    </div>
  </div>
  <div class="modal-footer flex-center">
    <!-- <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
      <span class="indicator-label">Guardar</span>
      <span class="indicator-progress">
          Por favor, espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
    </button>-->
  </div>

</div>
</ng-template>
